{% extends "main-template.twig" %}
{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/php-intro/add-user/">Add User</a></li>
    <li><a href="/php-intro/add-job/">Add Job</a></li>
    <li><a href="/php-intro/add-project/">Add Project</a></li>
</ul>
<br/>
<a href="/php-intro/logout/">Logout</a>
{% endblock %}